body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.textarea-nowrap {
  white-space: nowrap;
}
textarea {
  font-family: monospace;
}
svg.bi-trash:hover {
  fill: red;
}
svg:hover {
  fill: blue;
}
svg.bi-question-square {
  fill: black;
}
svg.bi-question-square:hover {
  fill: blue;
}
