{% extends "template.html" %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>HL7 Transform</h1>
    <p class="lead">A web tool that allows to transform HL7 messages using a mapping scheme</p>
    <p id="description">This tool uses <a href="https://github.com/pdyban/hl7_transform">hl7_transform</a> library,
    developed at <a href="https://doctolib.de">Doctolib</a>, and is available under <a href="https://github.com/pdyban/hl7_transform/blob/master/LICENSE">MIT license</a>.
    The source code can be <a href="https://github.com/pdyban/hl7_transform">downloaded in Github</a>.
    This tool lives from contribution, so if you find a bug or want to improve the application,
    feel free to fork the code and <a href="https://github.com/pdyban/hl7_transform/pulls">make a pull request</a>.</p>
    <p>Even though we are avid users of the HL7 v2 message format, the authors or the tool itself are not affiliated with <a href="https://www.hl7.org/">HL7 oeganization</a>.</p>
  </div>
</div><!-- container -->
{% endblock %}
