{% extends "template.html" %}

{% block content %}

<div class="container">

  <div class="starter-template">
    <h1>HL7 Transform</h1>
    <p class="lead">Easily transform HL7 messages using a mapping scheme.<br/>See
      <a href="/examples">examples</a>
      for a quick start and read
      <a href="https://hl7-transform.readthedocs.io/en/latest/mapping.html">documentation</a>
      for a more advanced usage.
    </p>

  <form method="post" action="/">
    {% if alert.error_status %}
    <div class="alert alert-warning" role="alert" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      {{ alert.text }}
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          {{ alert.trace }}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      {{ form.message.label }}
      {{ form.message(id='message_in', rows=7, class_='form-control') }}
    </div>

    <div class="form-group border rounded p-2">
      {{ form.mapping.label }}

      <ul class="nav nav-tabs" id="mapping-list" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="quick-tab" data-toggle="tab" href="#quick" role="tab" aria-controls="quick" aria-selected="true">Quick</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">
            Advanced
          </a>
        </li>
      </ul>

     <div class="tab-content" id="mapping-content">
      <div class="tab-pane fade show active align-items-start" id="quick" role="tabpanel" aria-labelledby="quick-tab">
        <!-- <p class="card-text">Quick editing of mapping scheme</p> -->
        <!-- <button type="button" class="btn btn-secondary disabled">Import</button> -->
        <div class="btn-group" role="group">
          <button id="newRuleButton" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            + New rule
          </button>
          <div class="dropdown-menu" aria-labelledby="new-rule-dropdown">
          </div>
        </div>

        <ul class="list-group" id="rule-list">
        </ul>
      </div>

      <div class="tab-pane" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
        <p class="align-self-start mt-2">Edit mapping scheme directly in JSON format (<a href="https://hl7-transform.readthedocs.io/en/latest/mapping.html">?</a>)</p>
        {{ form.mapping(id='mapping_scheme', rows=20, class_='form-control') }}
      </div>
    </div>
    </div>

    <div class="form-group">
      {{ form.message_out.label }}
      {{ form.message_out(id='message_out', rows=7, class_='form-control', readonly='True') }}
    </div>
    {{ form.csrf_token }}
    <input type="submit" class="btn btn-primary" value="Transform" />
  </form>

  </div>

</div><!-- /.container -->

<script type="text/javascript">
  function switchToAdvancedView() {
    alert("switchToAdvancedView");
    $('advanced-tab').show();
  };
  function switchToQuickView() {
    alert("switchToQuickView");
    $('quick-tab').show();
  };
</script>

{% endblock %}
